*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
  background-color: #1A0B2E;
}
nav img{
  display: none;
}
nav ul{
  display: flex;
  gap: 32px;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  font-weight: 500;
}
nav h2{
  font-size: 2rem;
}
nav button{
  padding: 12.5px 16px;
  border-radius: 30px;
  font-weight: 600;
  border: none;
  background:linear-gradient(135deg,#ff6fd8,#f9c449);
}
.hero-container{
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 760px;
  position: relative;
  border-top: 1px solid #706780cf;
}
.hero-img{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}
.img-3rd{
  position: absolute;
  z-index: 2;
}
.hero-info{
  text-align: center;
}
.hero-info h2{
  font-size: 4rem;
  font-weight: 800;
  margin-top: 40px;
}
.hero-info p{
  margin-top: 8px;
margin-bottom: 24px;
}
.hero-btn, .hero-btn2{
  background: linear-gradient(90deg,#ffcc33,#ff7a18,#ff2fd3,#7b2cff);
  font-weight: 600;
  padding: 12.5px 20px;
  border-radius: 30px;
  border: none;
  margin-right: 20px;
}
.hero-btn2{
  border: 1px solid #00FF88;
  background: transparent;
  color: #00FF88;
  align-items: center;
}
main{
  background-color:#1A0B2E;
}
.contain h2{
  font-size: 3rem;
  font-weight: bold;
}
.contain p{
  line-height: 20px;
}
.main-body{
  text-align: center;
  padding: 0 200px;
  margin: 0 auto;
}
.contain{
  margin-bottom: 80px;
}
.milestone{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 80px;
  padding-bottom: 120px;
  border-top: 1px solid #706780cf;
}
.milestone>div h2{
  color: #00FF88;
  font-size: 48px;
  font-weight: bold;
}
.grid-section h2{
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
.grid-section{
  padding: 120px 200px;
  margin: 0 auto;
  background-color: #230E3D;
}
.grid-section h2{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
}
.main-grid-area{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.main-grid-area>div{
  padding: 40px;
  background-color: #351165;
  border-radius: 40px;
}
.card-1{
  grid-row: span 2;
}
.card-2{
  grid-column: span 2;
}
.card-3{
  grid-column: span 2;
}
.card-4{
  grid-column: span 2;
}
.main-grid-area>div h3{
  font-size: 24px;
  font-style: bold;
  padding-top: 16px;
  padding-bottom: 16px;
}
.main-grid-area>div p{
  line-height: 24px;
}
.main-grid-area .card-1 img{
  margin-top: 80px;
}
.i-farme{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 150px;
  gap: 30px;
}
.i-card{
  background-color: #250D44;
  overflow: hidden;
  border-radius: 20px;
}
.i-card h2{
  font-size: 24px;
  font-weight: bold;
  padding: 24px 24px 12px 24px;
}
.i-card p{
  line-height: 24px;
  padding: 0 24px 8px 24px;
}
.i-card h6{
  padding: 0 24px 10px 24px;
  color: #00FF88;
  font-weight: 700;
  font-size: 1.25rem;
}
.def-h2{
  text-align: center;
  font-size: 3rem;
  margin-top: 120px;
  margin-bottom: 40px;
}

.challenge-part{
  margin: 120px 200px 0 200px;
  padding-bottom: 120px;
}
.challenge-part h3{
  text-align: center;
  font-size: 3rem;
  margin-top: 30px;
  margin-bottom: 40px;
}
.challenge{
  background-color: #351165;
  display: flex;
  align-items: center;
  border-radius: 40px;
}
.main-part h2{
  font-size: 2.6rem;
}
.host img{
  margin: 40px;
}
.main-part p{
  line-height: 24px;
  margin: 16px 0;
}
.main-part img{
  padding:15px;
  border: 1px solid #7b2cff;
  border-radius: 100%;
}
.sp-word{
  background: linear-gradient(90deg,#FF2FD3,#B23CFF);
  background-clip: text; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.foot{
  background-image: url(../assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 412px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.foot h2{
  font-size: 60px;
}
.foot .social{
  display: flex;
  gap: 40px;
}


/* responsive area */

@media screen and (max-width:576px) {
  .main-body{
  text-align: center;
  padding: 40px 20px;
  margin: 0 auto;
} 
.contain h2{
  margin-bottom: 20px;
}
.grid-section h2{
  font-size: 2.50rem;
}

.def-h2{
  margin-top: 30px;
  margin-bottom: 20px;
}

.hero-container{
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
}
.milestone{
  grid-template-columns: repeat(2, 1fr);
  padding-top: 80px;
  gap: 20px;
  padding-bottom: 40px;
}
.main-grid-area{
  grid-template-columns: repeat(1, 1fr);
}
.grid-section{
  padding:20px;
  margin: 0 auto;
}
.i-farme{
  grid-template-columns: repeat(1, 1fr);
  padding: 20px;
}
.challenge{
  display: flex;
  flex-direction: column;
}
.challenge-part{
  margin:  20px;
}
.main-part{
  padding: 20px;
}
.foot .social{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.copy{
  margin-top: 20px;
}
.bottom-info{
  padding-bottom: 10px;
}
nav ul li, nav button{
  display: none;
}
nav img{
  display: block;
}
.hero-container{
  height: auto;
}
.hero-img{
  padding-top: 40px;
}
  .foot{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.hero-img img{
  width: 100%;
  max-width: 280px;
  height: auto;
}
.hero-img .img-3rd{
  position: absolute;
  height: auto;
  width: auto;
}

}

@media screen and (min-width: 576px) and (max-width: 992px) {

  .main-body{
    padding: 10px 20px;
  }
  .grid-section{
    padding: 0 10px ;
  }
  .i-farme{
    padding: 0 10px;
    gap: 10px;
  }
  .challenge-part{
  margin: 0 10px;
  padding: 5px;
  padding-bottom: 40px;
  }
  .host img{
  margin: 10px;
  }
  .foot{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  align-items: center;
}
}

@media screen and (min-width: 992px) {
    .main-body{
    padding: 10px 100px;
  }
    .grid-section{
    padding: 10px 100px ;
  }
    .i-farme{
    padding: 0 100px;
    gap: 20px;
  }
  .challenge-part{
  margin: 0 100px;
  }
}